*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;


}
header{

    background-color: rgb(7, 19, 17);
    color:rgb(242, 34, 69);
    padding:10px 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.navbar{
    list-style:none;
    display: flex;
    gap: 15px;

}
.navbar li a {
    color: rgb(226, 37, 40);
    text-decoration: wavy;
    padding: 10px;

}
.navbar li a.active,
.navbar li a:hover {
    background: rgb(250, 213, 158);
    color:rgb(222, 18, 18);
    border-radius: 5px;
}

.menu-icon{
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: aliceblue;
}
#menu-toggle {
    display: none;
}
#menu-toggle:checked + .menu-icon + .navbar {
    display: block;
    flex-direction: column;
    background: skyblue;

}
@media(max-width: 768) {
    .menu-icon {
        display: block;

    }
    .navbar {
        display: none;
        width: 100%;

    }
    .navbar li{
        text-align: center;
    }
}
section .section-content h1 {
    color: black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
section .section-content h2{
    color: red;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
section img{
    height: 300px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section img {
    height: 600px;
    width: 1000p;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
footer-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;

}
.footer- col h4{
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-coi ui{
    list-style: none;
    padding: 0;
}
.footer-col ul li {
    margin: 10px 0;

}
.footer-col ui li a{
    text-decoration: none;
    color: aliceblue;

}
.footer-col ul li a :hover {
    color: white;

}
.footer-col form{
    margin-top: 10px;

}
.footer-col input{
    padding: 10px;

}
.footer-col input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
}
.footer-col button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: white;
    color: black;
    cursor: pointer;
}
.footer-col button:hover {
    background: white;
}